@model BeanCounter.WebUI.Models.AccountViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>
<body>
    <h1>Bean Counter</h1>
    <div class="registration">
        <div class="form-info" id="blockSignIn">

                <h2>Sign In</h2>
                @using (Html.BeginForm("SignIn","Account"))
                {

                    @Html.TextBoxFor(x => x.UserName, new { @class = "text", @placeholder = "User Name", @required = "required" })
                    @Html.PasswordFor(x => x.Password, new { @class = "text", @placeholder = "Password", @required = "required" })

                    <div class="btn"><input type="submit" class="btn btn-success" value="Log In" /></div>
                }

            <div class="clear"> </div>
        </div>
        <div class="strip back-signin"><span>OR</span></div>
        <ul class="bottom-sc-icons back-signin">
            <li><a href="#" id="linkSignUp" class="btn">Sign Up</a></li>
        </ul>
        <div id="blockSignUp" class="form-info hide">
            <form id="formSignUp">
                <h2>Sign Up </h2>

                <input id="txtUserName" type="text" class="text" placeholder="User Name" required="required" />
                <input id="txtPassword" type="password" class="Password" placeholder="Password" required="required" />
                <input id="txtFirstName" type="text" class="text" placeholder="First Name" required="required" />
                <input id="txtLastName" type="text" class="text" placeholder="Last Name" required="required" />
                <input id="txtEmail" type="email" class="text" placeholder="Email" required="required" />

                <div class="btn"><input type="submit" value="Sign Up"></div>
            </form>

            <div class="clear"> </div>
        </div>

        <div class="strip back-login hide"><span>OR</span></div>
        <ul class="bottom-sc-icons back-login hide">
            <li><a href="#" id="linkSignIn" class="btn">Sign In</a></li>
        </ul>
    </div>
    <div class="copy-rights">
        <p>Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a> </p>
    </div>
    <script src="~/Scripts/Libs/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/BeanCounter/login.js"></script>
</body>
</html>
