@model IEnumerable<BeanCounter.Domain.Entities.Category>

@{
    ViewBag.Title = "AddExpenses";
}

<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                Add Daily Expenses
            </header>
        </section>
    </div>
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                Add Bank Transactions
            </header>

        </section>
    </div>
</div>

<script src="~/Scripts/BeanCounter/addExpenses.js"></script>